@model BBaB.ViewModels.Profile.UpdateProfileModel

@{
    ViewBag.Title = "Update Account";
}


<div class="container d-flex flex-justify-center flex-column bg-grayWhite h-100 w-75">
    <div class="border mx-auto border-radius-6 p-3 w-75 bd-gray drop-shadow">
        @using (Html.BeginForm("OnUpdateAccount", "Profile", FormMethod.Post))
        {
            <h2>Update Account</h2>
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model._fullName, htmlAttributes: new { @class = "d-inline-block" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._fullName, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                        @Html.ValidationMessageFor(model => model._fullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model._username, htmlAttributes: new { @class = "d-inline-block" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._username, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                        @Html.ValidationMessageFor(model => model._username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model._email, htmlAttributes: new { @class = "d-inline-block" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._email, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                        @Html.ValidationMessageFor(model => model._email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model._phoneNumber, htmlAttributes: new { @class = "d-inline-block" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._phoneNumber, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                        @Html.ValidationMessageFor(model => model._phoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="button dark" />
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("UpdatePassword", "Profile", FormMethod.Get))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update Password" class="button dark" />
                </div>
            </div>
        }
     </div>
</div>

