@model BBaB.ViewModels.Profile.UpdatePasswordModel

@{
    ViewBag.Title = "Update Password";
}


<div class="container d-flex flex-justify-center flex-column bg-grayWhite h-100 w-75">
    @using (Html.BeginForm("OnPasswordUpdate", "Profile", FormMethod.Post, new { @class = "border mx-auto border-radius-6 p-3 w-75 bd-gray drop-shadow" }))
    {
        <h2>Update Password</h2>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "fg-crimson" })
            <div class="form-group">
                @Html.LabelFor(model => model._oldPassword, htmlAttributes: new { @class = "d-inline-block" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model._oldPassword, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                    @Html.ValidationMessageFor(model => model._oldPassword, "", new { @class = "fg-crimson" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model._newPassword, htmlAttributes: new { @class = "d-inline-block" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model._newPassword, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                    @Html.ValidationMessageFor(model => model._newPassword, "", new { @class = "fg-crimson" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model._confirmNewPassword, htmlAttributes: new { @class = "d-inline-block" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model._confirmNewPassword, new { htmlAttributes = new { @class = "primary d-inline-block" } })
                    @Html.ValidationMessageFor(model => model._confirmNewPassword, "", new { @class = "fg-crimson" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="button dark" />
                </div>
            </div>
        </div>
    }
</div>
