@model BBaB.ViewModels.Profile.ViewAccountModel

@{
    ViewBag.Title = "View Account";
}



    <div class="container bg-grayWhite h-100 w-75">
        <div class="container drop-shadow p-4">

            <h2>Account</h2>
            <hr />

            <dl class="">
                <dt>
                    @Html.DisplayNameFor(model => model._fullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model._fullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model._userName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model._userName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model._phoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model._phoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model._email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model._email)
                </dd>
            </dl>
            <div class="py-4">
                @using (Html.BeginForm("OnDelete", "Profile", FormMethod.Post, new { @class = "d-inline-block"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model._id);

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Delete" class="button dark" />
                        </div>
                    </div>
                }

                @using (Html.BeginForm("Update", "Profile", FormMethod.Get, new { @class = "d-inline-block"}))
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="button dark" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
