<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="fullview body-content">
        <div>
            @RenderPage("_NavBar.cshtml")
        </div>
            <div class="container">
                @RenderBody()
            </div>


        <footer class="text-center fixed-bottom pb-4">
            <p class="fg-light">&copy; @DateTime.Now.Year - Nathan Ford, Dominic Sutton @@GCU CST-323</p>
        </footer>
    </div>
    
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</body>
</html>